:root {
  --card-height: 8.8cm;
  --card-width: 6.3cm;
}
.card {
  background-color: #f0da35;
  border-radius: 3mm;
  height: var(--card-height);
  width: var(--card-width);
  position: relative;
  padding-top: 1px;
}

.card:hover {
  transform: scale(1.5);
  transition-duration: 300ms;
  z-index: 10;
}

.card__inner-card {
  --margin: 2mm;
  margin: var(--margin);
  margin-top: -1mm;
  height: calc(100% - var(--margin) * 2);
  background-color: #fdfa28;
}

.card__base-information {
  font-size: 6px;
  margin-top: 11px;
  margin-left: 13px;
}

.card__information {
  display: flex;
  justify-content: space-between;
  margin-left: 3mm;
  margin-right: 3mm;
  height: 16px;
}

.card__hp-type-container {
  display: flex;
}

.card__name {
  margin-top: -3px;
  margin-left: 2px;
  font-size: 14px;
}
.card__hp {
  color: red;
  font-size: 14px;
  margin-top: -2px;
  margin-right: 9px;
}
.card__type {
  width: 18px;
  height: 18px;
  margin-top: -3px;
}

.card__image {
  --border: 3px;
  height: calc(139px - var(--border) * 2);
  width: calc(196px - var(--border) * 2);
  margin: 0 13px;
  border: var(--border) solid #f0da35;
}
/* 
.card__image::before {
  content: "";
  height: calc(139px - var(--border) * 2);
  width: calc(196px - var(--border) * 2);
  position: absolute;
  background-image: url("https://images.pokemontcg.io/base1/10.png");
  background-position-x: 215px;
  background-position-y: -37px;
}
 */
.card__meta {
  height: 10px;
  background-color: #f0da35;
  margin: 4px 23px 0 23px;
  font-size: 7px;
  padding: 0 6px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card__attacks {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  height: 84px;
  padding: 0 6px;
}

.card__attack-row-container {
  flex: 1 1 auto;
}

.card__attack-stripe {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid;
  width: 100%;
}

.card__attack-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
  gap: 3px;
}

.card__attack-cost-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 30px;
  max-width: 30px;
  justify-content: center
}

.card__attack-cost {
  --size: 15px;
  width: var(--size);
  height: var(--size);
}

.card__attack-description {
  font-size: 8px;
  line-height: 7px;
  max-width: 80%;
}

.card__attack-description-name {
  font-weight: bold;
  font-size: 10px;
}

.card__attack-description-details {
  font-size: 8px;
}

.card__attack-damage {
  font-size: 17px;
  margin-right: 8px;
}

.card__strengths {
  display: flex;
  justify-content: space-between;
  margin: 0 13px 2px 13px;
  font-size: 6px;
}

.card__strength-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__strength-col img {
  --size: 13px;
  height: var(--size);
  width: var(--size);
  margin-top: -2px;
}

.card__extra-information {
  border: 1px solid #f0da35;
  line-height: 8px;
  margin: 0 11px;
  padding: 0 5px;
  font-size: 6px;
  height: 17px;
}

.card__rarity {
  height: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
}

.card__rarity img {
  height: 5px;
}
