* {
    font-family: 'Poppins', sans-serif;
}

.app__title {
    font-family: 'Press Start 2P', cursive;
}

.cards-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 50px;
}